.*
!.editorconfig
!.fallowrc.json
!.gitignore
!.oxfmtrc.json
!.oxlintrc.json
!.github/
!.github/workflows/
!.github/workflows/*.yml

dist/
build/dist/
node_modules/
src/routeTree.gen.ts
stats.html
stats-sunburst.html
stats.json
apps/frontend/dist/
apps/frontend/build/dist/
apps/frontend/node_modules/
apps/frontend/src/routeTree.gen.ts
apps/frontend/stats.html
apps/frontend/stats-sunburst.html
apps/frontend/stats.json
apps/api/local.db
apps/api/local.db-*
